:root {
  --header-height: 5rem;
  --main-color: #4a5b8c;
  --accent-color: #bfcdd9;
  --sidebar-bg-color: #f0d4bb42;
  --sidebar-li-bg-color: #f0d4bb7d;
  --sidebar-a-color: #8c4f2b;
  --sidebar-box-shadow: 0px 4px 4px 0px #8c4f2b40;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  /* background: #fafafa; */
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  /* color: #999; */
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.nav {
  align-items: center;
}
.navbar {
  border: none;
  background-color: var(--main-color);
  color: var(--accent-color);
  height: var(--header-height);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: all 0.3s;
  background-color: var(--sidebar-bg-color);
  margin-top: calc(var(--header-height) / 1.2);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li {
  background-color: var(--sidebar-li-bg-color);
  box-shadow: var(--sidebar-box-shadow);
  padding: 8px;
  margin-bottom: 8px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  color: var(--sidebar-a-color);
}
#sidebar svg.icon-mr {
  margin-right: 10px;
}

#sidebar svg.icon-mr path {
  fill: var(--sidebar-a-color);
}

#sidebar ul li.li-tab:hover {
  background-color: var(--sidebar-bg-color);
}

#sidebar ul li.active > a,
#sidebar ul li a[aria-expanded="true"] {
  color: var(--main-color);
}

#sidebar ul li.active > a svg.icon-mr path,
#sidebar ul li a[aria-expanded="true"] svg.icon-mr path {
  fill: var(--main-color);
}

#sidebar img.icon-mr {
  margin-right: 10px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#content button.btnCollapse {
  margin-top: var(--header-height);
  background-color: var(--accent-color);
  color: var(--main-color);
  border: transparent;
}

#content button.btnCollapse:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}
